.coffee-section {
    padding: 80px 5%;
    background-color: #fcfcfc;
    text-align: center;
}

.maam {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.coffee-card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
    border: 1px solid white;
}

.coffee-card:hover {
    transform: translateY(-10px);
}

.coffee-card img {
    width: 100%;
    height: 180px;
    object-fit: cover; 
    border-radius: 10px;
}

.coffee-card h3 {
    margin: 15px 0 5px;
    font-size: 1.3rem;
}

.coffee-card p {
    font-size: 0.9rem;
    color: #666;
}

.price {
    display: block;
    font-size: 19px;
    color: #d4a373;
    font-weight: bold;
    margin: 10px 0;
}

.ищь {
    width: 100%;
    background-color: #2c1a0f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

header {
    background-color: rgb(118, 122, 122);
    width: 100%;
    height: 80px;
    gap: 150px;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a {
    width: 100px;
    margin: 40px;
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}
    
header a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}